.admin {
  background-color: #ededed;
  /* height: 100vh; */
}

.nav-admin {
  background-color: var(--nav-color);
  border-bottom: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.titulo-admin {
  background-color: transparent;
  margin: 0.6em;
  color: white;
  flex: 1;
}

.useradmin {
  background-color: transparent;
  margin-right: 1em;
}

.logoutadmin {
  background-color: transparent;
  margin-right: 1em;
}

.admin-layout {
  display: flex;
}
