.delete-container::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(11, 14, 17);
}

.delete-container::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
.delete-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 550px;
  width: 100%;
  overflow-y: scroll;
}

.titulos-delete {
  display: flex;
}

.titulo-de {
  margin: 1em;
  padding: 1em;
  width: 100%;
}

.items-del {
  display: flex;
  width: 100%;
  margin-left: 3em;
}

.btn-eliminar {
  width: 6em;
  height: 4em;
  border: none;
  background-color: var(--nav-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-eliminar:hover {
  background-color: var(--main-color);
}

.accion-del {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  /* margin-top: 1em; */
}
