.container_2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 1em;
}

.label-up {
  margin: 1em;
}
.input-up {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--main-color);
  margin: 1em;
}

.btn-up {
  width: 6em;
  height: 4em;
  border: none;
  background-color: var(--nav-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn-up:hover {
  background-color: var(--main-color);
}
