.item {
  background-color: #ffff;
  width: 500px;
  height: 325px;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  border-radius: 50px;
  box-shadow: 4px 3px #e3e3e3;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
}

.titulo-item {
  font-size: 1.8rem;
  margin-left: 1.2em;
  font-family: "Roboto", sans-serif;
}

.item p {
  color: var(--main-color);
  margin-left: 2em;
  margin-bottom: 0.8em;
}
.item h2 {
  color: var(--secundary-color);
  font-weight: 500;
  margin-left: 1.4em;
  margin-bottom: 0.8em;
  font-family: "Ubuntu", sans-serif;
}

.img-item {
  width: 200px;
  height: 200px;
  border-radius: 40px;
  margin-left: 1.2em;
}

.item button {
  background-color: var(--button-color);
  color: white;
  border: none;
  margin-left: 2.1em;
  margin-top: 1.2em;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.item button:hover {
  background-color: #815abf;
}
